.contacts {
  align-items: center;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    margin-left: 58px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
  }

  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    margin-left: 0px;
  }
}

.contacs-wrapper {
  @media screen and(min-width: 1200px) {
    justify-content: center;
  }
}

.contacts__mobal {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-bottom: 64px;
  margin-right: 0px;

  &:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.contacts__item {
  justify-content: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and(min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

.contacts__mobal-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__mobal-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts .contacts__link {
  color: var(--main-text-color);
}
.contacts__mobal .contacts__mobal-link {
  color: var(--main-text-color);
}

.contacts__mail {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and(min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 30px;
  }
}

.contacts__tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and(min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__mobal-tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__mobal-tel {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
  padding: 0px;
}

.contacts__mobal-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;

  padding: 0px;
}

.network__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.network__social {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.network {
  flex-wrap: wrap;
}
