.footer {
  display: flex;
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}
.footer--display-flex {
  display: flex;
  align-items: baseline;
}

.footer__box-contact {
  flex-grow: 1;
  margin-right: 70px;
}

.footer__address {
  font-style: normal;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__item {
  &:not(:last-child) {
  margin-bottom: 9px;
  }
}

.footer__link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__tel {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__title--display-flex {
  align-content: center;
  display: flex;
}

.footer__title--justify-content {
  justify-content: center;
}

.footer__box-socials {
  margin-right: 93px;
}

.footer__title-form {
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: center;
  height: 50px;
  width: 200px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  padding-top: auto;
  padding-bottom: auto;
  left: 12px;
  border: transparent;
}

.footer__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: var(--secondary-title-color);

  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: var(--main-text-color);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__form-icon {
  fill: var(--secondary-title-color);
  margin-left: 10px;
}
