.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--bg-hero-gradient),
      var(--bg-hero-gradient)
    ),
    url('../images/hero.jpg');
}

.hero__title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 30px;
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  background: var(--accent-color);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  padding: 10px 22px 10px 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
