.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;

  @media screen and (max-width: 767px) {
    top: 16px;
    bottom: 16px;
  }
  @media screen and (max-width: 1199px) {
    top: 26px;
    bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    top: 24px;
    bottom: 24px;
  }
}

.logo__web {
  color: var(--main-title-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo__web {
  color: var(--secondary-title-color);
}
