.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
}

.logo__web {
  color: var(--main-title-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo__web {
  color: var(--secondary-title-color);
}
