:root {
  --main-title-color: #212121;
  --secondary-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --bg-hero-gradient: rgba(47, 48, 58, 0.4);
  --light--bgc: #f5f4fa;
  --link-color: #afb1b8;
  --bg-socials-footer: #ffffff1a;
  --footer-bg-color: #2f303a;
  --bg-hero-gradient-1: #c4c4c4;
}
